<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professional-ReadMEAPP</title>
    <link
    href=""
    rel="stylesheet"
    />
    <link
    rel="stylesheet"
    href=""
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <ul id="nav-mobile" class="right">
        {{#if loggedIn}}
              <li><a href="/logout" id="logout" class="btn">logout</a></li>
              <li><a href="/dashboard" class="btn">dashboard</a></li>
            {{else}}
              <li><a href="/login" class="btn">login/signup</a></li>
            {{/if}}
          </ul>
        </nav>
        <div id="hero">
        </div>
      </header>
      <main class="center purple darken-4 white-text section">
        {{{body}}}
      </main>
      <footer class="footer center section">
        <h4 class="blue-text darken-3">Thanks!</h4>
      </footer>
    </div>

    <script 
    src="">
    </script>
    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}

</body>

</html>